{% extends 'base.html' %}

{% block title %}
    Expense Category List
{% endblock title %}

{% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            <thead>
                {% for category in categorylist_contextkey %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            <tbody>

            </tbody>
        </table>
    </main>
{% endblock content %}
